@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}
html, body{
    background-image: url("./img/stars.jpg");
    margin: 0;
}

#body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#navi{
    font-family: 'Bungee Shade', cursive;
    color: #ffffff;
    font-size: 35px;
    width: 100%;
    height: 45px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
#gameCont{
    display: flex;
    justify-content: center;
    height:500px;
    width:700px;
    
}
#gameCanvas{    
    background-color: #000000;
}

.gameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40px;
	position: absolute;
	width: 100%;
}

.score{
    display: flex;
	justify-content: center;
	align-items: center;
    font-size: 20px;
    color: #ffffff;
    top:0;
    font-family: 'Bungee Shade', cursive;
}

#end, #win{
    position: fixed;
    font-family: 'Frijole', cursive;
    top: 210px;
    display: flex;
	justify-content: center;
	align-items: center;
    font-size: 35px;
    display: none;
    z-index: 100;
}
#end{
    color: hsl(0, 100%, 50%);
}
#win{
    color: #ffd700;
}